SECRET_KEY_BASE="{{ xpaste_service_secret_key }}"
RAILS_ENV="{{ xpaste_service_rails_env }}"
RAILS_LOG_TO_STDOUT=1
DB_HOST="{{ xpaste_database_host }}"
DB_PORT=5432
DB_NAME="{{ xpaste_database_name }}"
DB_USER="{{ xpaste_database_user }}"
DB_PASSWORD="{{ xpaste_database_pass }}"
